.container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Open Sans", sans-serif;
}

.newsletter {
  color: gray;
  border: solid thin #cfcfcf;
  border-radius: 3px;
  padding: 10px;
  padding-bottom: 20px;
  margin-top: 15px;
  
  position: relative;
}

.newsletter h3 {
  margin-top: 0;
}

.newsletter input#email {
  display: block;
  width: 100%;
  height: 30px;
  margin-bottom: 4px;
  border: 1px solid #cfcfcf;
  border-radius: 3px;
  box-sizing: border-box;
}

.newsletter button {
  background-color: #3cb878;
  border: none;
  margin-bottom: 10px;
  color: white;
  display: block;
  width: 100%;
  height: 30px;
}

.newsletter #terms {
  position: relative;
  top: 1.7px;
}

.newsletter #closex {
  position: absolute;
  top: 0;
  right: 5px;
}

#questionmark {
  background-color: #3cb878;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  
  color: white;
  font-size: 70px;
  text-align: center;
  
  position: fixed;
  bottom: 10px;
  right: 10px;
}

#card_holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  align-content: flex-start;
  
  flex-wrap: wrap;
}

.card {
  
  background-color: #3cb878;
  width: 180px;
  text-align: center;
  color: white;
  padding: 20px 0;
  
  box-shadow: 0 0 7px 2px grey;
}


.cardtext {
  margin-bottom: 0;
}